# Copyright 2023 ACSONE SA/NV (<http://acsone.eu>)
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).

{
    "name": "{{ project_name }} Fs Attachment",
    "summary": """
        Filestore configurations""",
    "author": "ACSONE SA/NV",
    "website": "https://acsone.eu",
    "category": "{{ project_name }}",
    "version": "{{ odoo_series }}.1.0.0",
    "license": "AGPL-3",
    "depends": [
        "fs_attachment",
    ],
    "external_dependencies": {
        "python": [
            "s3fs",
            # https://github.com/fsspec/filesystem_spec/issues/1805
            "fsspec>=2024,!=2025.3.0",
        ]
    },
    "data": [
        "data/fs_storage.xml",
    ],
}
