[outgoing_mail]
smtp_host=mailhog
smtp_port=1025

[ir.config_parameter]
ribbon.name=TEST {{ project_version }}<br/>({db_name})
ir_attachment.location=db

[fs_storage.fstest]
use_as_default_for_attachments=True

[fs_storage.fsprod]
check_connection_method=False
