<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2023 ACSONE SA/NV
     License AGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). -->
<odoo>
  <record id="fsprod" model="fs.storage">
    <!-- This storage is used in the production environment as default storage
      for the attachments. Configuration is provided by server environment files.
    -->
    <field name="name">Attachements Production</field>
    <field name="code">fsprod</field>
    <field name="protocol">s3</field>
    <field name="directory_path">odoo-{{ project_name | lower | replace(' ', '-') }}-prod</field>
    <field name="eval_options_from_env" eval="True" />
    <field name="use_filename_obfuscation" eval="True" />
    <field name="optimizes_directory_path" eval="True" />
    <field name="options">
      {
        "endpoint_url": "$AWS_ENDPOINT_URL",
        "key": "$AWS_ACCESS_KEY_ID",
        "secret": "$AWS_SECRET_ACCESS_KEY",
        "client_kwargs": {
            "region_name": "$AWS_DEFAULT_REGION"
          }
      }
    </field>
  </record>
  <record id="fsuat" model="fs.storage">
    <!-- This storage is used in UAT as default storage
      for the attachments. Configuration is provided by server environment files
    -->
    <field name="name">Attachements UAT</field>
    <field name="code">fsuat</field>
    <field name="protocol">s3</field>
    <field name="directory_path">odoo-{{ project_name | lower | replace(' ', '-') }}-uat</field>
    <field name="eval_options_from_env" eval="True" />
    <field name="use_filename_obfuscation" eval="True" />
    <field name="optimizes_directory_path" eval="True" />
    <field name="options">
      {
        "endpoint_url": "$AWS_ENDPOINT_URL",
        "key": "$AWS_ACCESS_KEY_ID",
        "secret": "$AWS_SECRET_ACCESS_KEY",
        "client_kwargs": {
            "region_name": "$AWS_DEFAULT_REGION"
          }
      }
    </field>
  </record>
  <record id="fstest" model="fs.storage">
    <!-- This storage is used in test as default storage
      for the attachments. Configuration is provided by server environment files
    -->
    <field name="name">Attachements Test</field>
    <field name="code">fstest</field>
    <field name="protocol">s3</field>
    <field name="directory_path">odoo-{{ project_name | lower | replace(' ', '-') }}-test</field>
    <field name="eval_options_from_env" eval="True" />
    <field name="use_filename_obfuscation" eval="True" />
    <field name="optimizes_directory_path" eval="True" />
    <field name="options">
      {
        "endpoint_url": "$AWS_ENDPOINT_URL",
        "key": "$AWS_ACCESS_KEY_ID",
        "secret": "$AWS_SECRET_ACCESS_KEY",
        "client_kwargs": {
            "region_name": "$AWS_DEFAULT_REGION"
          }
      }
    </field>
  </record>
</odoo>
