[bumpversion]
current_version = 1.0.0
commit = True
tag = True
tag_name = {new_version}
tag_message = {new_version}

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:pyproject.toml]

[bumpversion:file:odoo/addons/{{ project_trigram }}_all/__manifest__.py]

[bumpversion:file:odoo/addons/server_environment_files/dev/dev.conf]

[bumpversion:file:odoo/addons/server_environment_files/test/test.conf]

[bumpversion:file:odoo/addons/server_environment_files/uat/uat.conf]
