[run]
source =
  ./odoo/addons
dynamic_context = test_function
branch = True
parallel = True

[report]
omit =
    */scenario/*
    */scenarios/*
    */test/*
    */tests/*
    */lib/*
    *_example/*
    *__init__.py
    *__manifest__.py
    *hooks.py
    *_parser.py

# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    raise NotImplementedError
