[MASTER]

load-plugins=pylint_odoo
disable=all
# To view all available pylint-odoo messages:
#   pylint --load-plugins=pylint_odoo --disable=all --enable=odoolint --list-msgs-enabled
enable=
  attribute-deprecated,
  attribute-string-redundant,
  bad-builtin-groupby,
  category-allowed,
  consider-merging-classes-inherited,
  context-overridden,
  deprecated-odoo-model-method,
  development-status-allowed,
  external-request-timeout,
  invalid-commit,
  license-allowed,
  manifest-author-string,
  manifest-behind-migrations,
  manifest-data-duplicated,
  manifest-deprecated-key,
  manifest-maintainers-list,
  manifest-required-author,
  manifest-required-key,
  manifest-version-format,
  method-compute,
  method-inverse,
  method-required-super,
  method-search,
  missing-readme,
  missing-return,
  no-raise-unlink,
  no-wizard-in-models,
  no-write-in-compute,
  odoo-addons-relative-import,
  odoo-exception-warning,
  prohibited-method-override,
  renamed-field-parameter,
  resource-not-exist,
  test-folder-imported,
  translation-contains-variable,
  translation-field,
  translation-format-interpolation,
  translation-format-truncated,
  translation-fstring-interpolation,
  translation-not-lazy,
  translation-positional-used,
  translation-required,
  translation-too-few-args,
  translation-too-many-args,
  translation-unsupported-format,
  website-manifest-key-not-valid-uri

# disabled odoolint messages
#   sql-injection (E8103)
#   except-pass (W8138)
#   print-used (W8116)
#   use-vim-comment (W8202)

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized

# Tells whether to display a full report or only the messages
reports=no

# Template used to display messages. This is a python new-style format string
# used to format the message information. See doc for all details
msg-template={path}:{line}:{column}: {msg_id} {msg} ({symbol})

[ODOOLINT]
manifest-required-authors=ACSONE SA/NV
readme-template-url=
# List of keys required in manifest file, separated by a comma.
manifest-required-keys=license,author,summary
# List of keys deprecated in manifest file, separated by a comma.
manifest-deprecated-keys=description,active
# List of license allowed in manifest file, separated by a comma.
license-allowed=AGPL-3,LGPL-3,Other proprietary
# List of attributes deprecated, separated by a comma.
attribute-deprecated=_columns,_defaults
# List of methods where call to `super` is required.separated by a comma.
method-required-super=create,write,read,unlink,copy,setUp,setUpClass,tearDown,default_get
# Regex to check version format in manifest file
manifest-version-format=({{ odoo_series }}\.\d+\.\d+\.\d+$)
