# odoo
# -r https://raw.githubusercontent.com/odoo/odoo/{{ odoo_series }}/requirements.txt
pypdf2<2
werkzeug<2.1
# xlrd<2 because Odoo relies on it to import xlsx files and xlrd 2 dropped that capability
xlrd<2
odoo @ git+https://github.com/acsone/odoo.git@{{ odoo_series }}-{{ project_trigram }}_master
{%- if odoo_enterprise %}
odoo-addons-enterprise @ git+ssh://git@github.com/acsone/enterprise.git@{{ odoo_series }}-{{ project_trigram }}_master
{%- endif %}

# patched ACSONE addons
# ...

# camptocamp/odoo-cloud-platform
odoo-addon-base-attachment-object-storage @ git+https://github.com/camptocamp/odoo-cloud-platform@refs/pull/401/head#subdirectory=setup/base_attachment_object_storage
odoo-addon-attachment-s3 @ git+https://github.com/camptocamp/odoo-cloud-platform@refs/pull/401/head#subdirectory=setup/attachment_s3

# patched OCA addons
# odoo-addon-{addon} @ git+https://github.com/OCA/{oca-project}.git@refs/pull/NNN/head#subdirectory=setup/{addon}
