# build dependencies for building the project and all its dependencies
# that need to be built from sources
editables
hatchling
hatch-odoo
setuptools
setuptools-odoo
wheel
# below is for xmlsec
setuptools_scm[toml]>=3.4'
pkgconfig>=1.5.1
lxml>=3.8, !=4.7.0
